<h1>Your Events</h1>

<% if @events %>
    <ul>
        <% @events.each do |event| %>
            <li><%= link_to "Event #{event.name}: #{event.date.strftime('%m/%d/%Y')}", event_path(event) %></li>
        <% end %>
    </ul>
<% else %>
    <p>You have no created events, create one now!</p>
<% end %>

<p><%= link_to 'Back to All Events', events_path %></p>
<p><%= link_to "Create new Event", new_event_path %></p>
